<!--編集画面-->

<%= form_with model: @book,url:edit_book_path(@book.id), method: :patch do |f| %>

<div class="edit">
<p>title</p>
<%= f.text_field :title %>

<p>body</p>
<%= f.text_area :body %>

<%= f.submit 'Update Book' %>

<%= link_to "show", book_path %>
<strong> | </strong>
<%= link_to "back", books_path %>

<!--サクセスメッセージ-->
<% if flash[:notice] %>
  <p id="notice">
    <%= flash[:notice] %>
  </p>
<% end %>

<% end %>
</div>

<!--エラーメッセージ エラーあり-->
<% if @book.errors.any? %>
<%= @book.errors.count %>error
<ul>
  <%= @book.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
</ul>
<% end %>